*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.bg-brand{
    background-color:#fafafa;
}
.video-post{
    height: 250px;
}
.hover-text:hover{
    text-decoration: underline ;
}
.blog-img{
    width: 380px;
    height: auto;
}
.cursor-pointer{
    cursor: pointer;
}
.text-brand_light{
    color: #71728a;
}
.gril-imag{
    width: 650pxpx;
    height: auto;
}
img:hover{
    filter: brightness(0.5);
}
.bg-load_more{
    background-color: #292929;
    color: white;
    border: none;
    text-transform:uppercase;
    
}
.bg-load_more:hover{
    background-color:#d7cfb8;
    color: #292929;
    cursor: pointer;
}
.learn-more{
    border: none;
    background-color: #292929;
    color: white;
    border-radius: 15px;
}
.bg-img{
    background-color:#71728a;
}
.learn-more:hover ,.buy-load:hover{
    background-color: #fafafa;
    color: #292929;

}
.buy-load{
    background-color:#292929;
    color: white;
    border-radius: 15px;
    
}
input{
    border: none;
    width: 250px;
    height: 40px;
    background-color:white;
}
input:hover{
    background-color: #d7cfb8;
}